.App {
  text-align: center;
  padding: 0 100px;
  max-width: 50em;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textarea {
  min-height: 200px;
}

.submit_btn {
  max-width: 100px;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}

.questionStatement {
  font-weight: bold;
}

.error_field {
  color: red;
  font-weight: bold;
}

.label .user_data {
  text-transform:capitalize;
}

.label .mood {
  display: block;
  padding: 15px;
  text-align: center;

}

.divergent_question > .keyword {
  font-weight: bold;
}

.divergent_question > .instruction {
  font-style: italic;
}
